/* style.css */
body {
  height: 100vh;
  overflow: hidden;
  background: linear-gradient(skyblue, lightgreen);
}

button {
  border: none;
  background-color: #007bff;
  font-size: medium;
  border-radius: 5px;

}

button:active {
  background-color: #0069d9;
}

.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #dc3545;
  color: whitesmoke;
  font-size: large;
  border-radius: 5px;
  text-decoration: none;
  /* Adjust button position */
  margin-right: 20px; /* Move the button right */
}

.custom-button:hover {
  background-color: #c82333;
}

.custom-button:active {
  background-color: #bd2130;
}



#slider {
  display: flex;
  align-items: center;
}

#slider input[type="number"] {
  border: 0;
  color: #f6931f;
  font-weight: bold;
  width: 50%;
  margin-right: 10px; 
}

.slider-div {
  display: flex;
  flex:1;
  width: 80%;
  margin-left: 10%;
}


.main-styling {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: 
  "filters graph"
  "stocks graph";
  height: 100vh;
}

.stocks-div{
  height: 100%;
  grid-area: stocks;
  #stocks-form{
    height: 100%;
  }
}

#filters{
  grid-area: filters;
}

.graph{
  grid-area: graph;
}

.loader {
  width: 36px;
  height: 36px;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
    content: '';  
  box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-bottom-color: #FF3D00;
}
    
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 