<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-body">
    <div class="home-content">
        <h1 >StockScope: Gain Insight into Market Trends at a Glance</h1>
     
        <p style=" color:gold;font-style:italic;font: size 50px;">Indian markets at your fingertips.</p>
        <br>
        
        <a href="/login" class="logout-button2"><h2>Get Started</h2></a>
    </div>
</body>
</html>
