<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/d0a0c830f0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="form-container">
        <h2>Login</h2>
        <i class="fa-solid fa-user"></i>
        <form action="/login" method="post">
            <div class="form-group">
                <input type="text" name="username" placeholder="Username" required>
            </div>
            <div class="form-group">
                <i class="fa-solid fa-lock"></i>
                <input type="password" name="password" id="pass" placeholder="Password" required>
                <input type="checkbox" id="showPassword"> Show Password
            </div>
            {% with messages= get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <div class="form-group">
                <button type="submit">Login</button>
            </div>
        </form>
        <p> <a href="/forgot_password">Forgot password?</a></p>
        <p>Don't have an account? <a href="/register">Register here</a></p>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const passwordField = document.getElementById('pass');
            const showPasswordCheckbox = document.getElementById('showPassword');

            showPasswordCheckbox.addEventListener('change', function () {
                passwordField.type = showPasswordCheckbox.checked ? 'text' : 'password';
            });
        });
    </script>
</body>
</html>
