<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
</head>
<body>
    
    <div class="dropdown">
        <button>{{username[0]}}</button>
        <div class="dropdown-options">
          <a href="/dashboard">Dashboard</a>
          <a href="/">Home</a>
          <a href="/stocks">Stocks</a>
          <a href="/logout">Logout</a>
        </div>
      </div>
</body>
</html>
