<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Filters</title>
  <!-- Include your CSS file -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">
</head>
<body>
  <form id="form" method="POST">
    <h1 style="color: rgb(128, 0, 75);">Apply Filters</h1>
    <div>
      <p>Choose Min and Max Values:</p>
      <div id="min-max-slider"></div>
      <p>
          <label for="min">Min Value:</label>
          <input type="text" id="min" name="min" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <p>
          <label for="max">Max Value:</label>
          <input type="text" id="max" name="max" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
  </div>
  <div id="multiSelect">
        <!-- Sort Options -->
    <label class="checkbox-label"> Sort Options:</label>
    <label class="checkbox-label">
      <input type="radio" name="sortOption" value="lowToHigh"> Low to High
    </label>
    <label class="checkbox-label">
      <input type="radio" name="sortOption" value="highToLow"> High to Low
    </label>
    <!-- None Option -->
    <label class="checkbox-label">
      <input type="checkbox" name="noneOption" value="none"> None
    </label>
    </div>
    <button type="proceed">Proceed</a>
    </form>
    <a href="/logout" class="logout-button">Logout</a>

<script src="{{ url_for('static', filename='stocks_script.js') }}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
      make_slider("min-max-slider",0,100 ,"min", "max")
  })
</script>

</body>