{%extends 'profile.html'%}
{%block title%}Stocks{%endblock%}
{%block head%}
  <script src="{{ url_for('static', filename='stocks_script.js') }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.6.4/nouislider.min.css" rel="stylesheet">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
{%endblock%}
{%block body%}
<div class="stocks-body">
  <form id="filters" method="POST">
    <h1 style="color: rgb(128, 0, 75);">Apply Filters</h1>
    <div id="avgPriceFilter">
      <input type="checkbox" id="avgPriceCheckbox" name="avgPriceCheckbox"> Choose Average Price Range
      <div id="avgPriceSlider" style="display: none;"></div>
      <p id="averagePriceMinLabel" style="display: none;">
          <label for="averagePriceMin" >Min Average Price:</label>
          <input type="text2" id="averagePriceMin" name="averagePriceMin" readonly style="border:0; color:#f6931f; font-weight:bold; ">
      </p>
      <br>
      <p id="averagePriceMaxLabel" style="display: none;">
          <label for="averagePriceMax" >Max Average Price:</label>
          <input type="text2" id="averagePriceMax" name="averagePriceMax" readonly style="border:0; color:#f6931f; font-weight:bold; ">
      </p>
    </div>

    <div id="Volume">
      <input type="checkbox" id="Volumecheckbox" name="Volumecheckbox" > Choose Volume Range
      <div id="Volumeslider" style="display: none;"></div>
      <p id="Volumeminlabel" style="display: none;">
        <label for="Vol_min">Min Volume:</label>
        <input type="text2" id="Vol_min" name="Vol_min" readonly style="border:0; color:#f6931f; font-weight:bold;">
      </p>
      <br>
      <p id="Volumemaxlabel" style="display: none;">
        <label for="Vol_max">Max Volume:</label>
        <input  type="text2"  id="Vol_max" name="Vol_max" readonly style="border:0;  color:#f6931f; font-weight:bold;">
      </p>
    </div>

    <div id="sortOptions">
      <label>
        <input type="checkbox" id="sortCheckbox" name="sortCheckbox"> Sort
      </label>
      <div id="sortButtons" style="display: none;">
        <label>
          <input type="radio" id="lowToHigh" name="sortOption" value="lowToHigh"> Low to High
        </label>
        <label>
          <input type="radio" id="highToLow" name="sortOption" value="highToLow"> High to Low
        </label>
      </div>
    </div>


    <label for="sort_by">Sort by:</label>
    <select name="sort_by" id="sort_by">
      <option value="Average Price">Average Price</option>
      <option value="Volume">Volume</option>
      <option value="Book value">Book value</option>
    </select>
    <br><br>

    <div id="noneOption">
      <label>
          <input type="checkbox" name="noneOption" id="noneOptionCheckbox" value="none"> None
      </label>
  
      <button type="submit" name="filters" class="logout-button">Proceed</button>
     
    </div>
    <a href="/logout" class="logout-button">logout</a>
  </form>
</div> 

{%if stocks%}
<div class="options-container">
  {%if stocks|length == 1%}
    <h1 style="color: rgb(255, 45, 45);">No stocks match the filters!</h1>
  {%else%}
    <input type="text" id="search" placeholder="Search options...">
    <form id="stocks" method="POST">
      <label for="frequency">Choose a frequency:</label>
      <select name="frequency" id="frequency">
        <option value="daily">daily</option>
        <option value="weekly">weekly</option>
        <option value="monthly">monthly</option>
        <option value="quarterly">quarterly</option>
        <option value="yearly">yearly</option>
      </select>
      <br>
      {%for stock in stocks[1:]%}    
      <label><input type="checkbox" name="{{stock['symbol']}}"> <span class="custom-checkbox"></span> {{stock['longName']}}</label><br>
      {%endfor%}  
      <button type="submit" name="stocks" class="logout-button">Get graph!</button>
    </form>
  {%endif%}
</div>
{%endif%}

<div id="plotlyDiv"></div>
    <script>
        var plotly_str = {{ plot_data| tojson| safe }};
        let plotly_data = JSON.parse(plotly_str);
        
        Plotly.react('plotlyDiv', plotly_data.data, plotly_data.layout);
    </script>

<script>
  document.addEventListener('DOMContentLoaded',function(){
    make_slider("avgPriceSlider", {{ranges['avg'][0]}}, {{ranges['avg'][1]}}, "averagePriceMin", "averagePriceMax");
    make_slider("Volumeslider", {{ranges['vol'][0]}}, {{ranges['vol'][1]}}, "Vol_min", "Vol_max"); 
  })

</script>
{%endblock%}